<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="navbar">
  <a class="LogOut" (click)="logout()" role="button"><i class="material-icons logout-icon">logout</i>Logout</a>
</div>

<div class="Products-h3">
  <i class="material-icons">shopping_cart</i> 
  <h3>Products</h3>
</div>

<div>
 
    <div class="overlay" *ngIf="isFormOpen"></div>

    <div class="button-container"> 
      <button class="Add-new-Product-btn" (click)="toggleForm()">Click Here to Add new Product</button>
    </div>

    <div class="modal-container" *ngIf="isFormOpen">
      <app-customer-add (cancel)="toggleForm()"></app-customer-add>
    </div>

    <app-product-list></app-product-list>
 
</div>

